@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,500&display=swap');

@counter-style cat-emojis {
  system: cyclic;
  symbols: "\1f49c" "\1F499" "\1F49A" "\1F49B";
  suffix: " ";
}

.emoji-bullets {
  list-style-type: cat-emojis;
}

body {
    background-color: #4a455a;
    color: #383340;
}

body::before {
    content: "";
    background-color: #4a455a;
    background-image: url(../imgs/bg.gif);
    background-size: 7rem;
    background-blend-mode: darken;
    background-position: center;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
}

#logo {
    width: auto;
    height: 40px;
}

.navbar-dark .navbar-brand {
    color: #bb91f6;
    font-size: 1.5rem;
    font-family: Lora, sans-serif;
}

.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
    color: #bb91f7;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #bb91f6;
}

.navbar .container, .navbar .container-fluid, .navbar .container-lg, .navbar .container-md, .navbar .container-sm, .navbar .container-xl {
    justify-content: space-evenly;
}

.navbar-toggler {
    padding: .10rem .50rem;
}

.navbar-brand {
        margin-right: .5rem;
}

#content {
    background: black;
    border-radius: 0 0 .3rem .3rem;
}

.jumbotron {
    background-color: #a898bf;
    position: relative;
    padding: 1rem 1rem;
    text-align: center;
    border-radius:0 0 .3rem .3rem;
    margin-bottom: 1rem;
}

.h2, .h3, .h4, .h5, .h6, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

.h1, h1 {
    margin-bottom: 0;
    font-family: 'Lora';
    font-weight: 600;
    font-size: 2rem;
}

.h2, h2 {
    font-size: 1.5rem;
}

.h4, h4 {
    font-size: 1.2rem;
}

.card {
    max-width: 100%;
    background-color: #a898bf;
    margin-bottom: 15px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    padding-left: 0px;
    padding-right: 0px;
}

.btn-primary {
    color: #ffffffcf;
    background-color: #343a40;
    border-color: #343a40;
}

.btn-primary:hover {
    color: #ffffffcf;
    background-color: #ad86e4;
    border-color: #383340;
}

.btn-primary.focus, .btn-primary:focus {
    color: #ffffffcf;
    background-color: #ad86e4;
    border-color: #383340;
    box-shadow: 0 0 0 0.2rem #ad86e4ad;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #ffffffcf;
    background-color: #ad86e4;
    border-color: #383340;
}

.btn-light {
    color: #dad9dd;
    background-color: #322f3c00;
    border-color: #a898bf;
}

.btn-light:hover {
    color: #dad9dd;
    background-color: #0f0e128f;
    border-color: #a898bf;
}

.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
    color: #dad9dd;
    background-color: #0f0e128f;
    border-color: #a898bf;
}

.btn-light.focus, .btn-light:focus {
    color: #dad9dd;
    background-color: #322f3c00;
    border-color: #a898bf;
    box-shadow: 0 0 0 0.2rem rgb(216 217 219 / 14%);
}

#app-container {
    position: relative;
    background: #3b3748;
    padding: 1rem 1rem;
    color: #ffffffcf;
    border-radius: .3rem;
}

.form-inline {
    justify-content: space-evenly;
}

hr {
    border-top: 1px solid #343a4080;
}

.hr-light {
    border-top: 1px solid #a898bf80;
}

.img-frame {
    min-height: 20vh;
    background: #00000061;
    border-radius: .3rem;
    display: flex;
    justify-content: center;
    max-height: fit-content;
    text-align: center;
    align-items: center;
}

.framed-img {
    max-width: 100%;
    max-height: 60vh;
}

.custom-select:focus {
    border-color: #383340;
    box-shadow: 0 0 0 0.2rem #a898bf40;
}

#overlayTxt {
    position: absolute;
    bottom: 1.5rem;
    color: #ffffff;
    background: #25222d9c;
    width: 86%;
    border-radius: .3rem;
    padding: .5rem;
}

.form-control:focus {
    border-color: #383340;
    box-shadow: 0 0 0 0.2rem #a898bf40;
}

footer {
    text-align: center;
    position: relative;
}

.carousel-indicators {
    bottom: 1rem;
}

.carousel-inner {
    height: fit-content;
    max-height: 100%;
    display: flex;
}

.carousel-item {
    max-width: 100%;
    width: auto;
    margin: 0;
}

.carousel-img {
    width: auto;
    max-height: 100%;
    margin: auto;
    width: auto !important;
}
.carousel-caption {
    color: #ffffff;
    background: #25222d9c;
    width: 100%;
    right: 0;
    left: 0;
    padding: 1rem 1rem 0rem 1rem;
    bottom: 0;
}

@media (max-width: 767px) {
    .carousel-caption {
    padding: .5rem 1rem 0rem 1rem;
    display: block !important;
    }

    .carousel-inner, .carousel-item {
        height: fit-content;
    }

    .carousel-img {
        max-width: 100%;
    }

    .carousel-caption {
        position: relative;
        background: #25222da8;
        border: 1px solid #e0c9ea;
        border-radius: 0 0 .3rem .3rem;
    }

    .carousel-caption h4 {
        font-size: 1.5rem;
    }
}

@media (max-width: 575px) {
    h4 {
        font-size: 1rem;
    }

    h1 {
        font-size: 1.5rem;
    }
}

@media (min-width: 375px) {
    .navbar .container, .navbar .container-fluid, .navbar .container-lg, .navbar .container-md, .navbar .container-sm, .navbar .container-xl {
    justify-content: space-between;
    }

}

@media (min-width: 576px) {
    .jumbotron {
        padding: 1rem 2rem;
    }
    .card {
        max-width:100%;
    }
    .form-inline .custom-select, .form-inline .input-group {
        width: 40%;
    }
    .form-inline .form-control {
        display: inline-block;
        width: 30%;
        vertical-align: middle;
    }
    .navbar-toggler {
        padding: .10rem .50rem;
    }
    .navbar-dark .navbar-brand {
        font-size: 2rem;
    }
    #logo {
        width: auto;
        height: 45px;
    }
    .h4, h4 {
    font-size: 1.5rem;
    }
    .h1, h1 {
    font-size: 2.5rem;
    }
    .h2, h2 {
        font-size: 2rem;
    }

}

@media (min-width: 768px) {
    .card {
        max-width:33%;
        margin-bottom: 0px;
    }
    body::before {
        background-size: 12rem;
    }
}


